html {
  --section-header: #090909;
  --section-header-h1: #fff;
  --section-header-h2: #92a0bb;
  --section-header-h3: #728293;
  --content-bg: #101e2f;
  --content-header: #835300;
  --table-thead-bg: #835300;
  --selectors-bg: #0a4d6d;
  --modal-header: #fff;
  --modal-text: #fff;
  --modal-content-bg: #005583;
  --table-bg: #0a4d6d;
  --table-text: #fff;
  --tagslist-bg: #403d52;
  --tagslist-bg-hover: #54406f;
  --tagslist-active: #835300;
  --name-bg: #835300;
  --subname-bg: #005583;
}

#header-image {
  background-image: url('assets/amd-sapphire-dota-pit/header.jpg');
}
.content-section {
    background-image: none;
}
