html {
  --section-header: #090909;
  --section-header-h1: #fff;
  --section-header-h2: #92bbb7;
  --section-header-h3: #72938f;
  --content-header: #3d5251;
  --table-thead-bg: #3d5251;
  --modal-header: #fff;
  --modal-text: #fff;
  --table-bg: #233339;
  --tagslist-bg: #233339;
  --tagslist-bg-hover: #3d5251;
  --tagslist-active: #72938f;
  --name-bg: #3d5251;
  --subname-bg: #3d5251;
}

#header-image {
  background-image: url('assets/bots/header.jpg');
}
