html {
  --body-bg: #0a0a0a;
  --selector-link: #fff;
  --selector-bg: #00A2E4;
  --section-header: #090909;
  --section-header-h1: #35dcf9;
  --section-header-h2: #20aff2;
  --section-header-h3: #0c85ea;
  --content-header: #005685;
  --content-text-overview: #fff;
  --modal-content-bg: #005685;
  --table-bg: #232d39;
  --table-thead-bg: #005685;
  --table-thead-text: #fff;
  --tagslist-bg: #232d39;
  --tagslist-bg-hover: #193c5c;
  --tagslist-active: #005685;
  --name-bg: #005685;
  --subname-bg: #1f3359;
}

#header-image {
  background-image: url('assets/captains-draft/header.jpg');
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.section-header h1 {
  padding-top: 190px;
  font-size: 40px;
}
.section-header h2 {
  margin-top: 0px;
}
.content-section {
  background-image: url('assets/captains-draft/bg.jpg');
  background-repeat: repeat;
}

.selector-modules , .selector-modules-sublevel , .selector-modules-level-3 , .selector-modules-level-4,
.selector-modules-level-5, .selector-modules-level-6, .selector-modules-level-7 {
  line-height: 32px;
}
.selector-modules-sublevel , .selector-modules-level-3 , .selector-modules-level-4, .selector-modules-level-5,
.selector-modules-level-6, .selector-modules-level-7 {
  border-top-color: var(--selector-bg);
}
.content-cards .match-card, .content-cards .player-card {
  border-bottom-color: var(--selector-bg);
}

table.pvp tr td:first-child {
  background-color: #233654 !important;
}
table.pvp .thead th  {
  background-color: #1f3359 !important;
}
table.list, table.pvp {
    border: 1px solid transparent;
}
table.list td, table.pvp td {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    opacity: 0.6;
}
table.list tr:hover td, table.pvp tr:hover td {
    background-color: #193c5c;
}

.selector.active {
  text-decoration: none;
  border-bottom: 3px solid #00A2E4;
  padding-bottom: 5px;
}
.selector {
  padding: 0;
  padding-bottom: 8px;
  padding-top: 5px;
  margin: 0 10px;
}
