html {
  --section-header: #090909;
  --section-header-h1: #fff;
  --section-header-h2: #b4a794;
  --section-header-h3: #8f8372;
  --content-header: #52483d;
  --selectors-bg: #52483d;
  --modal-header: #fff;
  --modal-text: #b4a794;
  --modal-content-bg: #232220;
  --table-bg: #332f29;
  --table-thead-bg: #574b3c;
  --tagslist-bg: #393123;
  --tagslist-bg-hover: #52483d;
  --tagslist-active: #6d5d49;
  --name-bg: #52483d;
  --subname-bg: #52483d;
  --text: #cabfaf;
  --table-text: #f8f4ec;
  --link: #faf7f2;
  --body-bg: #000;
  --caption: #f8f4ec;
}

#header-image {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4)), url('assets/pro-circuit/dpc2021_transparent.png');
  background-color: #24211d;
  background-size: auto;
}

.section-header { height: auto; padding: 120px; }

.section-header .league-banner { top: 118px; bottom: 118px; }

.section-header h1 { padding: 0; }

.section-header h2 {
  text-shadow: 2px 2px 3px #000000;
}

.section-header h3 {
  text-shadow: 1px 1px 1px #000000;
}

.content-section {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 25px, rgba(0,0,0,0) 90%, #000 100%), linear-gradient(to left, #141311 0%, #161514 25%, #20201e 50%, #161514 75%, #141311 100%);
}
