html {
  --section-header: #090909;
  --section-header-h1: #fff;
  --section-header-h2: #b8958b;
  --section-header-h3: #9c7464;
  --content-header: #613a30;
  --selectors-bg: #613a30;
  --modal-header: #fff;
  --modal-text: #b8958b;
  --modal-content-bg: #232120;
  --table-bg: #2b2424;
  --table-thead-bg: #4d332d;
  --tagslist-bg: #392923;
  --tagslist-bg-hover: #613a30;
  --tagslist-active: #6d5049;
  --name-bg: #613a30;
  --subname-bg: #613a30;
  --text: #cab7af;
  --table-text: #f8f0ec;
  --link: #faf4f2;
  --body-bg: #000;
  --caption: #f8f0ec;
}

#header-image {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4)), url('assets/pro-circuit/dpc2021_transparent.png');
  background-color: #291b16;
  background-size: auto;
}

.section-header { height: auto; padding: 120px; }

.section-header .league-banner { top: 118px; bottom: 118px; }

.section-header h1 { padding: 0; }

.section-header h2 {
  text-shadow: 2px 2px 3px #000000;
}

.section-header h3 {
  text-shadow: 1px 1px 1px #000000;
}

.content-section {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 25px, rgba(0,0,0,0) 90%, #000 100%), linear-gradient(to left, #0f0a08 0%, #221611 25%, #2c1a16 50%, #221611 75%, #0f0a08 100%);
}
