html {
  --body-bg: #0a0a0a;
  --selector-link: #fff;
  --selector-bg: #ff015b;
  --section-header: #090909;
  --section-header-h1: #fff;
  --section-header-h2: #9b92bb;
  --section-header-h3: #7a7293;
  --content-header: #483d52;
  --content-text-overview: #fff;
  --section-border: #464646;
  --selectors-bg: #2d2339;
  --nav-item: #cecece;
  --modal-content-bg: #483d52;
  --table-bg: #2d2339;
  --table-thead-bg: #483d52;
  --table-thead-text: #fff;
  --tagslist-bg: #2d2339;
  --tagslist-bg-hover: #5a1941;
  --tagslist-active: #483d52;
  --name-bg: #483d52;
  --subname-bg: #403d52;
}

#header-image {
  background-image: url('assets/esl-one/header.jpg');
}
.content-section {
    background-image: url('assets/esl-one/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.selector-modules , .selector-modules-sublevel , .selector-modules-level-3 , .selector-modules-level-4,
.selector-modules-level-5, .selector-modules-level-6, .selector-modules-level-7 {
    line-height: 32px;
}
.selector-modules-sublevel , .selector-modules-level-3 , .selector-modules-level-4, .selector-modules-level-5,
.selector-modules-level-6, .selector-modules-level-7 {
    border-top-color: var(--selector-bg);
}
.content-cards .match-card, .content-cards .player-card {
  border-bottom-color: var(--selector-bg);
}
table.list, table.pvp {
    border: 1px solid transparent;
}
table.list td, table.pvp td {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    opacity: 0.6;
}
table.list tr:hover td, table.pvp tr:hover td {
    background-color: #5a1941;
}
