html {
  --text: #edd8d8;
  --body-bg: #0a0a0a;
  --selector-link: #fff;
  --selector-bg: #ffd057;
  --section-header: #090909;
  --section-header-h1: #fff;
  --section-header-h2: #e3b641;
  --section-header-h3: #e3b641;
  --content-header: #cda01f;
  --content-text-overview: #fff;
  --modal-content-bg: #7e313d;
  --table-bg: #4e1c37;
  --table-thead-bg: #7e313d;
  --tagslist-bg: #4e1c37;
  --tagslist-bg-hover: #7e313d;
  --tagslist-active: #cda01f;
  --name-bg: #7e313d;
  --subname-bg: #7b2031;
}

#header-image {
  background-image: url('assets/midas/header.jpg');
    box-shadow: black 0 0 50px 6px;
    position: relative;
}
.content-section {
    background-image: url('assets/midas/bg.png');
    background-repeat: repeat;
}
table.list caption, table.pvp caption, .team-name {
  color: #fff;
}

.selector-modules , .selector-modules-sublevel , .selector-modules-level-3 , .selector-modules-level-4,
.selector-modules-level-5, .selector-modules-level-6, .selector-modules-level-7 {
  line-height: 32px;
}
.selector-modules-sublevel , .selector-modules-level-3 , .selector-modules-level-4, .selector-modules-level-5,
.selector-modules-level-6, .selector-modules-level-7 {
  border-top-color: var(--selector-bg);
}
.content-cards .match-card, .content-cards .player-card {
  border-bottom-color: var(--selector-bg);
}

.section-header h2 {
  padding-top: 360px;
}
