html {
  --section-header: #090909;
  --section-header-h1: #fff;
  --section-header-h2: #55e888;
  --section-header-h3: #72937d;
  --content-header: #286c3d;
  --modal-header: #fff;
  --modal-text: #fff;
  --modal-content-bg: #286543;
  --table-bg: #1e2927;
  --table-thead-bg: #26412a;
  --tagslist-bg: #1e2927;
  --tagslist-bg-hover: #26412a;
  --tagslist-active: #286c3d;
  --name-bg: #286c3d;
  --subname-bg: #286543;
  --selectors-bg: #26412a;
}

#header-image {
  background-image: url('assets/pgl-bucharest/header_pgl_open_bucharest.jpg');
}
