html {
  --section-header: #090909;
  --section-header-h1: #fff;
  --section-header-h2: #92bbb7;
  --section-header-h3: #72938f;
  --content-header: #3d5251;
  --modal-header: #fff;
  --modal-text: #fff;
  --modal-content-bg: #286543;
  --table-bg: #233339;
  --table-thead-bg: #3d5251;
  --tagslist-bg: #233339;
  --tagslist-bg-hover: #3d5251;
  --tagslist-active: #72938f;
  --name-bg: #3d5251;
  --subname-bg: #3d5251;
}

#header-image {
  background-image: url('assets/pro-circuit/header.jpg');
}

.content-section {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0,0,0,0) 25px, rgba(0,0,0,0) 90%, #000 100%), linear-gradient(to left, #080f0e 0%, #121b1d 25%, #1b2529 50%, #121b1d 75%, #080f0e 100%);
}