html {
  --section-header: #090909;
  --section-header-h1: #fff;
  --section-header-h2: #fff;
  --section-header-h3: #fff;
  --content-header: #684430;
  --modal-header: #fff;
  --modal-text: #fff;
  --table-bg: #35231e;
  --table-thead-bg: #57392c;
  --tagslist-bg: #3a251f;
  --tagslist-bg-hover: #4b3b38;
  --tagslist-active: #725147;
  --name-bg: #4b3b38;
  --subname-bg: #4b3b38;
  --body-bg: #000;
}

#header-image {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)), url('assets/ranked/immranked_nova_500.png');
  background-color: #180d0a;
  background-size: auto;
}

.section-header { height: auto; padding: 120px; }

.section-header h1 {
  padding: 0;
  text-shadow: 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000;
}

.section-header h2 {
  text-shadow: 0 0 3px #000000, 0 0 3px #000000;
}

.section-header h3 {
  text-shadow: 1px 1px 1px #000000;
}

.content-section {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 25px, rgba(0,0,0,0) 90%, #000 100%), 
    linear-gradient(to left, #0f0908 0%, #180b09 25%, #221210 50%, #180b09 75%, #0f0908 100%);
}
