html {
  --text: edd8d8;
  --selector-link: #fff;
  --selector-bg: #484f86;
  --section-header: #090909;
  --section-header-h1: #fff;
  --section-header-h2: #fff;
  --section-header-h3: rgba(255,255,255,0.5);
  --content-header: #484f86;
  --content-text-overview: #fff;
  --modal-content-bg: #484f86;
  --table-bg: #2b2e46;
  --table-thead-bg: #484f86;
  --tagslist-bg: #2b2e46;
  --tagslist-bg-hover: #3a3f6c;
  --tagslist-active: #484f86;
  --name-bg: #3a3f6c;
  --subname-bg: #484f86;
  --selectors-bg: #232d39;
}

#header-image {
  background-image: url('assets/summit8/header.jpg');
  height: 220px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.content-section {
    background-image: url('assets/summit8/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 200px;
    background-attachment: fixed;
}
.section-header h1 {
    width: auto;
    text-align: center;
    font-size: 56px;
    text-transform: uppercase;
    color: white;
    padding-top: 30px;
    margin-bottom: 0px;
    font-family: "Noto Sans SemiBold", "Open Sans", sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    text-shadow: var(--text-shadow) 0 0px 15px;
    margin-left: 150px;
    overflow: hidden;
}

.section-header h2 {
  text-shadow: var(--text-shadow) 0 0px 7px;
  margin-left: 150px;
  width: auto;
}
.section-header h3 {
  text-shadow: var(--text-shadow) 0 0px 4px;
  margin-left: 150px;
  width: auto;
}

.selector-modules , .selector-modules-sublevel , .selector-modules-level-3 , .selector-modules-level-4,
.selector-modules-level-5, .selector-modules-level-6, .selector-modules-level-7 {
  line-height: 32px;
}
.selector-modules-sublevel , .selector-modules-level-3 , .selector-modules-level-4, .selector-modules-level-5,
.selector-modules-level-6, .selector-modules-level-7 {
  border-top-color: var(--selector-bg);
}
.content-cards .match-card, .content-cards .player-card {
  border-bottom-color: var(--selector-bg);
}
