html {
  --body-bg: #282a2b;
  --link: #000;
  --navlink: #eee;
  --selector-link: #000;
  --section-header: #090909;
  --section-header-h1: #fff;
  --section-header-h2: #333;
  --section-header-h3: #000;
  --text-shadow: #000;
  --content-bg: #fff;
  --content-header: #279d91;
  --content-text-overview: #000;
  --header: #555;
  --caption: #fff;
  --text: #444;
  --section-border: #000;
  --selectors-bg: #ddd;
  --nav-item: #cecece;
  --footer: #ddd;
  --footer-link: #eee;
  --modal-header: #279d91;
  --modal-text: #000;
  --modal-content-bg: #aaa;
  --table-bg: rgba(0,0,0,0.1);
  --table-border: transparent;
  --table-text: #000;
  --table-thead: #aaa;
  --tagslist-bg: rgba(0,0,0,0.1);
  --tagslist-bg-hover: rgba(0,0,0,0.3);
  --tagslist-active: #279d91;
  --name-bg: #67c6bc;
  --subname-bg: #aaa;

  --low-wr: #ce4949;
  --high-wr: #49cf53;
}

* {
  font-family: 'Lato', Roboto, 'Noto Sans', sans-serif;
}

#header-image {
  background-image: url('assets/supermajor/header.jpg');
}
.content-section {
    background-image: url('assets/supermajor/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.selector {
  padding: 0 0 10px 0;
  margin: 7px 10px 0;
}
.selector.active {
  text-decoration: none;
  border-bottom: 3px solid var(--selector-link);
  padding-bottom: 7px;
}
.selector:hover {
  text-decoration: none;
  border-bottom: 3px solid var(--selector-link);
  padding-bottom: 7px;
}
.selector a:hover {
  text-decoration: none;
}
.selector-modules , .selector-modules-sublevel , .selector-modules-level-3 , .selector-modules-level-4,
.selector-modules-level-5, .selector-modules-level-6, .selector-modules-level-7 {
    line-height: 32px;
}

tr.highlighted td {
    background-color: rgba(0,0,0,0.2);
}
.section-header h1, .section-header h2, .section-header h3 {
  font-family: 'Lato', 'Roboto', 'Noto Sans', sans-serif;
}
.section-header h2, .section-header h3 {
  text-shadow: none;
}

.content-section .content-header {
  font-size: 26px;
  font-weight: bold;
  font-family: inherit;
  text-shadow: 2px 2px 6px var(--text-shadow);
}

table.list tr:hover td, table.pvp tr:hover td {
    background-color: rgba(0,0,0,0.2);
}

footer {
  padding: 18px 0;
  display:block;
  text-align: center;
}

.hero .hero_name {
  color: #aaa
}

.tagslist .category {
  text-shadow: none;
}
