html {
  --section-header: #090909;
  --section-header-h1: #fff;
  --section-header-h2: #fff;
  --section-header-h3: #fff;
  --content-header: #3d523e;
  --modal-header: #fff;
  --modal-text: #fff;
  --table-bg: #273126;
  --table-thead-bg: #3d523e;
  --tagslist-bg: #273126;
  --tagslist-bg-hover: #3d523e;
  --tagslist-active: #447146;
  --name-bg: #3d523e;
  --subname-bg: #3d523f;
}

#header-image {
  background-image: url('assets/ti/background_floor_ti13.png?1'), url('assets/ti/header-ti13.jpg?1');
}

.content-section {
  background-color: #0a0f0b;
  background-image: url('assets/ti/ti13_bg.jpg?1');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

table.pvp td {
  background-color: rgba(127,127,127,0.3);
}
.section-header h2 {
  text-shadow: 2px 2px 3px #000000;
}
.section-header h3 {
  text-shadow: 1px 1px 1px #000000;
}
