html {
  --section-header: #090909;
  --section-header-h1: #fff;
  --section-header-h2: #bb9792;
  --section-header-h3: #937772;
  --content-header: #533131;
  --modal-header: #fff;
  --modal-text: #fff;
  --table-bg: #392323;
  --table-thead-bg: #533131;
  --tagslist-bg: #392323;
  --tagslist-bg-hover: #533131;
  --tagslist-active: #937772;
  --name-bg: #533131;
  --subname-bg: #533131;
}

#header-image {
  background-image: linear-gradient(rgb(66, 14, 14), rgb(29, 1, 1));
}

.content-section {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 25px, rgba(0,0,0,0) 90%, #000 100%), linear-gradient(to left, #0f0a08 0%, #221611 25%, #2c1a16 50%, #221611 75%, #0f0a08 100%);
}