html {
  --section-header: #090909;
  --section-header-h1: #fff;
  --section-header-h2: #92bbb7;
  --section-header-h3: #72938f;
  --content-header: #3d5251;
  --modal-header: #fff;
  --modal-text: #fff;
  --table-bg: #233339;
  --table-thead-bg: #3d5251;
  --tagslist-bg: #233339;
  --tagslist-bg-hover: #3d5251;
  --tagslist-active: #72938f;
  --name-bg: #3d5251;
  --subname-bg: #3d5251;
}

#header-image {
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url('assets/ti/header-ti7.jpg');
}

.content-section {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0,0,0,0) 25px, rgba(0,0,0,0) 90%, #000 100%), linear-gradient(to left, #080f0e 0%, #111f22 25%, #16272c 50%, #111f22 75%, #080f0e 100%);
}