html {
  --section-header: #090909;
  --section-header-h1: #fff;
  --section-header-h2: #fff;
  --section-header-h3: #fff;
  --content-header: #513d52;
  --modal-header: #fff;
  --modal-text: #fff;
  --table-bg: #342339;
  --table-thead-bg: #523d50;
  --tagslist-bg: #362339;
  --tagslist-bg-hover: #4d3d52;
  --tagslist-active: #634471;
  --name-bg: #4f3d52;
  --subname-bg: #4f3d52;
}

#header-image {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.6)), url('assets/ti/header-ti9.jpg');
}

table.pvp td {
  background-color: rgba(127,127,127,0.3);
}
.section-header h2 {
  text-shadow: 2px 2px 3px #000000;
}
.section-header h3 {
  text-shadow: 1px 1px 1px #000000;
}

.content-section {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 25px, rgba(0,0,0,0) 90%, #000 100%), linear-gradient(to left, #0b080f 0%, #181122 25%, #211c29 50%, #181122 75%, #0b080f 100%);
}